
<div class="palm-page-header"> 
     <div class="palm-page-header-wrapper">   
	 <div class="icon"></div>
        <div class="title"> 
        	PreGlide
        </div> 
     </div> 
</div> 

<div class="palm-group">
	<div class="palm-group-title">Quick Introduction</div>
	<div class='palm-body-text'>
	Tap on a block. Tap on an empty square to slide the block there. Get three or more blocks in a row to clear them.
	Clear more blocks at once for extra points and bonuses!
	</div>
</div>

<div id="high_score_area">High Score:&nbsp;<span id="high_score"></span></div>

<div class="splash_screen_button rotatable" id="start_button" x-mojo-element="Button"></div>
<div class="splash_screen_button rotatable" id="continue_button" x-mojo-element="Button"></div>
<div class="sprite title green"></div>
<div class="sprite title red"></div>
<div class="sprite title blue"></div>
<div class="sprite title orange"></div>
<div class="sprite title yellow"></div>
<div class="sprite title purple"></div>

