<div id="game_area">
    <div id="score_area" class="rotatable">
        <div class="score_wrapper rotatable">
            <div id="level_text">
                Level: <span id="level"></span>
            </div>
            <div id="clear_level" class="rotatable">
            </div>
            <div id="score_text">
                Score: <span id="score"></span>
            </div>
        </div>
    </div>
    <div class="last_points" id="last_points_sprite">
    </div>
    <div id="game_over" class="level_overlay rotatable">
        <div id="game_over_text">
        </div>
        <div id="game_over_button" x-mojo-element="Button">
        </div>
    </div>
    <div id="level_over" class="level_overlay rotatable">
        Level complete!
        <div id="level_over_text">
        </div>
        <div id="level_over_button" x-mojo-element="Button">
        </div>
    </div>
    <div id="choose_level" class="level_overlay rotatable">
        Choose a level to play endlessly.
        <div id="endless_level_select" x-mojo-element="IntegerPicker">
        </div>
        <div id="endless_level_button" x-mojo-element="Button">
        </div>
    </div>
    <div id="map_area" class="rotatable">
        <div id="map_tile_container">
        </div>
    </div>
    <div id="next_area" class="rotatable">
        <div id="blocks_left_label" class="right palm-body-text rotatable">
            Blocks Left: <span id="remaining"></span>
        </div>
        <div id="clear_blocks_left" class="rotatable">
        </div>
        <div class="left palm-body-text">
            Next:
        </div>
        <div id="clear_next" class="rotatable">
        </div>
		<div id="next_blocks">
        <div class='sprite next normal' id='next_block_0'>
        </div>
        <div class='sprite next normal' id='next_block_1'>
        </div>
        <div class='sprite next normal' id='next_block_2'>
        </div>
		</div>
        <div class="left hide" id="done_button" x-mojo-element="Button">
        </div>
    </div>
	
</div>
<div id="next_area_short" class="hide">
        <div class='sprite next short' id='short_next_block_0'>
        </div>
        <div class='sprite next short' id='short_next_block_1'>
        </div>
        <div class='sprite next short' id='short_next_block_2'>
        </div>
		<div class="left"><span id="remaining_short"></span></div>
        
		<div class="right hide" id="done_button_short" x-mojo-element="Button">
        </div>
        
        
    </div>
