<div class="palm-page-header multi-line"> 
     <div class="palm-page-header-wrapper"> 
        <div class="icon"></div> 
        <div class="title"> 
          Preferences
        </div> 
     </div> 
</div> 

<div class="hide palm-group">
	<div class="palm-group-title">Appearance</div>
	<div class="palm-row">
	<div class="palm-row-wrapper">
		<div id="textured_blocks_toggle" x-mojo-element="ToggleButton"></div>
		<div class="title left">Block Textures</div>
	</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Other</div>
		<div id="reset_score_button" x-mojo-element="Button"></div>
	</div>
</div>
