/* Put Application specific CSS here. */

body {
	background-color: black;
}
#game_area {
	background-color: #222;
	width: 480px;
	height: 480px;
}

.half {
	width: 50%;
	float: left;
}
#score_area {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 312px;
    height: 42px;	
	background-color: #EEE;
	border: 4px solid #CCC;
	-webkit-border-radius: 24px 24px 12px 12px;	
	z-index: 2;
	font-size: 16pt;
}

#score_area.short {
	height: 25px;
    font-size: 10pt;
	
}
#score_area.horizontal {
	height: 150px;
	width: 152px;
	border-radius: 12px 12px 12px 12px;
}

#score_area.short.horizontal {
	width: 80px;
}

#next_area {
    top: 370px;
    left: 0px;
	padding: 5px;
    position: absolute;
    width: 302px;
    height: 36px;
	z-index: 2;
	background-color: #EEE;
	border-radius: 12px 12px 24px 24px;
	border: 4px solid #CCC;
	
	
}

#next_area.short {
	width: 200px;
    height: 25px;
    position: absolute;
    left: 80px;
    top: -5px;
    z-index: 20;
	-webkit-transform: scale(0.5);
	border: 0;
}
#next_area.horizontal {
	top: 158px;
	height: 148px;
	width: 142px;
	border-radius: 12px 12px 12px 12px;
	
}

#next_area.horizontal.short {
	width: 80px;
	left: 0px;
	height: 80px;
}
#map_area {
    top: 50px;
    left: 0px;
    position: absolute;
    width: 308px;
    height: 308px;
    background-color: #AAA;
    border: 6px solid transparent;
	overflow: hidden;
	-webkit-border-radius: 12px;
	
}

#map_area.short {
	top: 25px;
}
#map_tile_container {
	width: 396px;
	height: 396px;
	border: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
	z-index: 0;
		
}
#map_area.horizontal {
	top: 0px;
	left: 160px;
}

#map_area.short.horizontal {
	top: 0px;
	left: 80px;
}

.clear {
	clear: both;
}

.map_tile {
	z-index: 0;
    background-color: black;
	-webkit-background-size: 100%;
	position: absolute;
    width: 44px;
    height: 44px;	
}

.map_tile.empty {
    background-color: #552;
	background-image: url(../images/recess.png);
	
	
}
.map_tile.hole {	
	
	background-image: url(../images/recess.png);
	background-color: black;	
	
}

.map_tile.possible {
    background-color: #776;
}
.hide {
	display: none;
}
.sprite {
	position: absolute;
	width: 37px;
	height: 36px;
	margin: 2px;
	z-index: 5;	
	border: 0px solid rgba(255,255,255,0.25);
	background-image: url(../images/block.png);
	-webkit-background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-border-radius: 8px;
	
}
	
.sprite.wild {
	background-image: url(../images/block.png), url(../images/rainbow_ani.gif);
}
.sprite.overlay {
	margin: 0;
}

.sprite.next {
	position: static;
	float: left;
	margin-left: 5px;
}
.sprite.title {
	position: static;
	float: left;
	margin-left: 10px;
}
.sprite.example {
	position: static;
	float: left;
	border: 2px solid gray;
	margin: 0px;
}
.left {
	position: static;
	float: left;
}

.right {
	position: static;
	float: right;
}
.sprite.red {
    background-color: red;
}

.sprite.blue {
    background-color: blue;
}
.sprite.green {
	background-color: green;
}
.sprite.yellow {
    background-color: yellow;
}
.sprite.orange {
    background-color: orange;
}
.sprite.purple {
    background-color: purple;
}
.sprite.selected {
    border: 2px solid white;
	margin: 0;
}

.fader {
	margin-top: -1px;
	margin-left: -1px;
	width: 100%;
	height: 100%;
	}

.splash_screen_button.horizontal {
	float: left;
}

#last_points_sprite {
	color: #FF0;
	float: none;
	position: absolute;
	z-index: 25;
	font-size: 16pt;
	font-weight: bold;
	display: none;
	
}

.level_overlay {
	position: absolute;
	top: 130px;
	left: 10px;
	width: 280px;
	height: 140px;
	display: none;
	opacity: 0.75;
	z-index: 20;
	padding: 20px;
	background-color: gray;
	border: 1px solid black;
}
#game_over_button {
	opacity: 1.0;
}

.level_overlay.horizontal {
	left: 170px;
	top: 70px;	
}
.level_overlay.horizontal.short {
    left: 80px;
    top: 70px;  
}

.palm-body-text {
	margin: 5px;
}

.gamescreen-text {
	font-size: 20px;
}
.palm-page-header-wrapper > .icon {
	background: url(../gliss2-icon-32.png) 10px 10px no-repeat;
}

.score_wrapper {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.score_wrapper.horizontal {
	top: 0px;	
}
#clear_next.horizontal {
	clear: both;
}

#clear_level.horizontal {
	clear: both;
}
#clear_blocks_left.horizontal {
	clear: both;
}

#score_label {
	float: left;
}
#score {
    float: left;
	margin-left: 5px;
}

#score_label.horizontal.short {
	float: none;
}
#score.horizontal.short {
    float: none;
}
#blocks_left_label.short {
    display: none;
}
#blocks_left_label.short.horizontal {
    display: block;
}
#next_label.short {
    display: none;
}
#blocks_left_label.horizontal {
	float: left;
}

#blocks_left_area.horizontal {
    float: left;
}

.highscore {
	text-align: center;
	width: 50%;
	float: left;
	
}

#level_text {
	float: right;
	margin-right: 10px;
	
}
#score_text {
	float: left;
	margin-left: 10px;
}
#level_text.horizontal {
	float: left;
	margin-left: 5px;
}
#score_text.horizontal {
	float: left;
    margin-left: 5px;
}

.palm-row {
	margin: 0;
	padding: 0;
	
}


.hs_level.label {
	color: blue;
	margin-right: 20px;
}

.hs_score.label {
	color: #662;
}
