<div class="palm-group">
    <div class="palm-group-title">
        Levels Mode High Score
    </div>
	<span id="levels_hs" class="palm-info-text palm-center left"></span>
	<span id="levels_winner" class="palm-info-text palm-center right"></span>
	<div class="clear">&nbsp;</div>
</div>
<div class="palm-group">
    <div class="palm-group-title" id="shakey-toggle">Endless Mode High Scores</div>
	<div class="palm-list left">
	   <div id="endless_scores_list"  x-mojo-element="List"></div>
	</div>
	<div class="palm-list right">
       <div id="endless_scores_list2"  x-mojo-element="List"></div>
    </div>
	<div class="clear">&nbsp;</div>
</div>

